@model EMS.Models.DepartmentViewModel
<div class="card card-body">
<h1>Department</h1>
<form>
		<div class="row">
		  <div class="col sm-6">
			<label>DeptName</label>
			<input class="form-control" placeholder="Department Name" asp-for="DepartmentName">
		  </div>
		  <div class="col sm-6">
			<label>DeptID</label>
			<input class="form-control" placeholder="Department Id" asp-for="DepartmentId">
		  </div>
		</div>
		<input type="submit" class="btn btn-success text-white mt-3 " >
</form>
</div>